a {
  color: #00B7FF;
}

.logo-dimension {
  width: 300px;
  height: auto;
}

.logo {
  position: fixed;
  z-index: 10;
  top: 20px;
  left: 20px;
}

.login-image {
  height: 100%;
  width: 100%;
}

.text-uppercase {
  text-transform: uppercase;
}

.login-content {
  max-width: 500px;
  margin: 0 auto;
}

.login-input {
  border: 2px solid;
}

.no-padding {
  padding: 0;
}

.pdf {
  min-height: 100vh;
  width: 100%;
}
